.x {
	font-size: calc(0.8 * var(--ss-rem));
	line-height: 1.3;
	display: inline-block;
	position: relative;
	padding: 0.1em 0.4em;
	margin: 0 0.1em;
	vertical-align: 0.1em;
	text-indent: 0;
	text-align: start;
	border-radius: 0.25em;
	border: 1px solid var(--ss-color-ui);
}

// Origin reference
.xo {
	font-weight: bold;
}

// keyword from the scripture translation
.xk {
	font-style: italic;
}

.xq {
	font-style: italic;
}

.xt {
}

.xot {
}

.xnt {
}

.xdc {
}
