.scripture-styles {
	--ss-color-text-intense: #000000;
	--ss-color-text: #2a2a2a;
	--ss-color-text-muted: #757575;
	--ss-color-ui: #dedede;
	--ss-color-ui-muted: #f2f2f2;
	--ss-color-background: #fafafa;
	--ss-color-background-card: #ffffff;
	--ss-color-redlettter: #d32f2f;
	--ss-color-link: #2562a0;
	--ss-color-link-active: #184b7d;
	--ss-font-serif: 'Noto Serif', serif;
	--ss-font-sans: 'Noto Sans', sans-serif;
	--ss-rem: 1.125rem;
}
@media (prefers-color-scheme: dark) {
	.scripture-styles:not([data-color-mode='light']) {
		--ss-color-text-intense: #ffffff;
		--ss-color-text: #d7d7d8;
		--ss-color-text-muted: #a4a3a3;
		--ss-color-ui: #323233;
		--ss-color-ui-muted: #575758;
		--ss-color-background: #212122;
		--ss-color-background-card: #282829;
		--ss-color-redlettter: #e57373;
		--ss-color-link: #6296cb;
		--ss-color-link-active: #87baed;
	}
}
.scripture-styles {
	font-size: var(--ss-rem);
	font-family: var(--ss-font-serif);
	line-height: 1.5;
	background: var(--ss-color-background);
	color: var(--ss-color-text);
	-webkit-font-smoothing: antialiased;
	/*-----------------------------------------------------------
	_chapter-verses.scss
	-----------------------------------------------------------*/
	/* */
	.c {
		text-align: center;
		font-weight: bold;
		font-size: 1.3em;
	}

	.ca {
		font-style: italic;
		font-weight: normal;
		color: var(--ss-color-text-muted);
	}

	.cl {
		text-align: center;
		font-weight: bold;
	}

	.cd {
		margin-inline-start: 1em;
		margin-inline-end: 1em;
		font-style: italic;
	}

	.v,
	.vp,
	sup[class^='v'] {
		color: var(--ss-color-text-intense);
		font-size: 0.7em;
		letter-spacing: -0.03em;
		vertical-align: 0.25em;
		line-height: 0;
		font-family: var(--ss-font-sans);
		font-weight: bold;
	}
	:where(.v:after, .vp:after, sup[class^='v']:after, sup + sup:before) {
		content: '\a0';
	}

	.va {
		font-style: italic;
	}

	:where(.ca, .va) {
		&::before {
			content: '(';
		}
		&::after {
			content: ')' !important;
		}
	}
	/*-----------------------------------------------------------
	_cross-references.scss
	-----------------------------------------------------------*/
	.x {
		font-size: calc(0.8 * var(--ss-rem));
		line-height: 1.3;
		box-sizing: border-box;
		display: inline-block;
		position: relative;
		padding: 0.1em 0.4em;
		margin: 0 0.1em;
		vertical-align: 0.1em;
		text-indent: 0;
		text-align: start;
		border-radius: 0.25em;
		border: 1px solid var(--ss-color-ui);
	}

	.xo {
		font-weight: bold;
	}

	.xk {
		font-style: italic;
	}

	.xq {
		font-style: italic;
	}
	/*-----------------------------------------------------------
	_footnotes.scss
	-----------------------------------------------------------*/
	.notelink {
		text-decoration: underline;
		padding: 0.1em;
	}
	.notelink,
	.notelink:hover,
	.notelink:active,
	.notelink:visited {
		color: var(--ss-color-text-muted);
	}
	.notelink sup {
		font-size: 0.7em;
		letter-spacing: -0.03em;
		vertical-align: 0.25em;
		line-height: 0;
		font-family: var(--ss-font-sans);
		font-weight: bold;
	}
	.notelink + sup:before {
		content: '\a0';
	}

	.f {
		font-size: calc(0.8 * var(--ss-rem));
		line-height: 1.3;
		display: inline-block;
		box-sizing: border-box;
		padding: 0.1em 0.4em;
		margin: 0.2em 0.1em;
		text-indent: 0;
		text-align: start;
		border-radius: 0.25em;
		border: 1px solid var(--ss-color-ui);
	}

	.fr {
		font-weight: bold;
	}

	.fk {
		font-style: italic;
		font-variant: small-caps;
	}

	[class^='fq'] {
		font-style: italic;
	}

	.fl {
		font-style: italic;
		font-weight: bold;
	}

	.fv {
		color: var(--ss-color-text-muted);
		font-size: 0.75em;
		letter-spacing: -0.03em;
		vertical-align: 0.25em;
		line-height: 0;
		font-family: var(--ss-font-sans);
		font-weight: bold;
	}
	.fv:after {
		content: '\a0';
	}

	/*-----------------------------------------------------------
	_identification.scss
	-----------------------------------------------------------*/
	.h {
		text-align: center;
		font-style: italic;
	}

	/*-----------------------------------------------------------
	_introductions.scss
	-----------------------------------------------------------*/
	[class^='imt'],
	[class^='is'] {
		text-align: center;
		font-weight: bold;
		font-size: calc(1.5 * var(--ss-rem));
		line-height: 1.8;
		margin-block-start: calc(1.5 * var(--ss-rem));
		margin-block-end: calc(1.5 * var(--ss-rem));
	}

	[class^='ip'] {
		text-indent: 1em;
	}

	.ipi {
		padding-inline-start: 1em;
		padding-inline-end: 1em;
	}

	:where(.im, .imi, .ipr) {
		text-indent: 0;
	}
	:where(.imi, .ipq, .imq, [class^='iq'], .ili1) {
		margin-inline-start: 1em;
		margin-inline-end: 1em;
	}

	.ipq {
		font-style: italic;
	}
	.ipr {
		text-align: end;
	}
	.iq2 {
		text-indent: 1em;
	}

	[class^='ili'] {
		padding-inline-start: 1em;
		text-indent: -1em;
	}
	.ili2 {
		margin-inline-start: 2em;
		margin-inline-end: 1em;
	}

	.iot {
		font-weight: bold;
		font-size: var(--ss-rem);
		line-height: 1.5;
		margin-block-start: calc(1.5 * var(--ss-rem));
		margin-block-end: 0px;
	}

	:where(.io, .io1, .io2, .io3, .io4) {
		margin-inline-end: 0em;
	}

	.io,
	.io1 {
		margin-inline-start: 1em;
	}

	.io2 {
		margin-inline-start: 2em;
	}

	.io3 {
		margin-inline-start: 3em;
	}

	.io4 {
		margin-inline-start: 4em;
	}

	.ior {
		font-style: italic;
	}

	.iex {
		text-indent: 1em;
	}

	.iqt {
		text-indent: 1em;
		font-style: italic;
	}

	/*-----------------------------------------------------------
	_paragraphs.scss
	-----------------------------------------------------------*/

	[class^='p'] {
		text-indent: 1em;
	}

	.m {
		text-indent: 0 !important;
	}

	:where(.pmo, .pm, .pmc, .pi, .pi1, .pi2, .pi3, .mi, .li2, .li3, .li4) {
		margin-inline-end: 0em;
	}
	:where(.pmo, .pm, .pmc, .pi, .mi) {
		margin-inline-start: 1em;
	}

	.pmo {
		text-indent: 0;
	}

	.pmr {
		text-align: end;
	}

	.pi1 {
		margin-inline-start: 2em;
	}

	.pi2 {
		margin-inline-start: 3em;
	}

	.pi3 {
		margin-inline-start: 4em;
	}

	.mi {
		text-indent: 0;
	}

	.pc {
		text-align: center;
		text-indent: 0;
	}

	.cls {
		text-align: end;
	}

	[class^='li'] {
		padding-inline-start: 1em;
		text-indent: -1em;
		margin-inline-start: 1em;
		margin-inline-end: 0em;
	}

	.li2 {
		margin-inline-start: 2em;
	}

	.li3 {
		margin-inline-start: 3em;
	}

	.li4 {
		margin-inline-start: 4em;
	}

	.b {
		height: calc(1.5 * var(--ss-rem));
	}

	/*-----------------------------------------------------------
	_poetry.scss
	-----------------------------------------------------------*/

	:where(.qr, .qs, .qa, .qac, .qt) {
		font-style: italic;
	}

	[class^='q'] {
		padding-inline-start: 1em;
		text-indent: -1em;
		margin-inline-start: 1em;
		margin-inline-end: 0em;
	}

	.q2 {
		margin-inline-start: 1.5em;
	}

	.q3 {
		margin-inline-start: 2em;
	}

	.q4 {
		margin-inline-start: 2.5em;
	}

	.qr {
		text-align: end;
	}

	.qc {
		text-align: center;
	}

	.qs {
		text-align: end;
	}

	.qa {
		text-align: center;
		font-size: 1.1em;
		margin-inline-start: 0em;
	}

	.qac {
		margin-inline-start: 0em;
		padding: 0;
		text-indent: 0;
	}

	.qm2 {
		margin-inline-start: 1.5em;
	}

	.qm3 {
		margin-inline-start: 2em;
	}

	.qt {
		text-indent: 0;
		padding: 0;
		margin: 0;
	}
	/*-----------------------------------------------------------
	_special-texts.scss
	-----------------------------------------------------------*/
	:where(.bk, .add, .dc, .k, .sls, .tl, .em, .it, .bdit, .qt, .sig) {
		font-style: italic;
	}
	:where(.k, .lit, .pn, .bd, .bdit) {
		font-weight: bold;
	}

	.nd {
		font-variant: small-caps;
	}
	.lit {
		text-align: end;
	}
	.pn {
		text-decoration: underline;
	}

	.wj {
		color: var(--ss-color-text-redletter);
	}

	.no {
		font-weight: normal;
		font-style: normal;
	}

	.sc {
		font-variant: small-caps;
	}

	.sig {
		font-weight: normal;
	}

	/*-----------------------------------------------------------
	_tables.scss
	-----------------------------------------------------------*/
	table {
		width: 100%;
		display: table;
	}

	.tr {
		display: table-row;
	}

	[class^='th'] {
		font-style: italic;
		display: table-cell;
	}

	[class^='thr'] {
		text-align: end;
		padding: 0 calc(1.5 * var(--ss-rem));
	}

	[class^='tc'] {
		display: table-cell;
	}

	[class^='tcr'] {
		text-align: end;
		padding: 0 calc(1.5 * var(--ss-rem));
	}
	/*-----------------------------------------------------------
	_titles-headings
	-----------------------------------------------------------*/

	[class^='mt'] {
		text-align: center;
		font-weight: bold;
		letter-spacing: normal;
	}

	.mt,
	.mt1,
	.mt2 {
		font-size: calc(2.22222 * var(--ss-rem));
		line-height: 1.2;
		margin-block-start: calc(1.5 * var(--ss-rem));
		margin-block-end: calc(1.5 * var(--ss-rem));
	}

	.mt2 {
		font-size: calc(1.9 * var(--ss-rem));
		font-style: italic;
		font-weight: normal;
	}

	[class^='ms'],
	.ms,
	.ms1,
	.ms2,
	.ms3 {
		text-align: center;
		font-weight: bold;
		font-size: calc(1.5 * var(--ss-rem));
		line-height: 1.8;
		margin-block-start: calc(1.5 * var(--ss-rem));
		margin-block-end: 0;
	}

	.mr {
		font-size: calc(0.9 * var(--ss-rem));
		margin-block-end: calc(1.5 * var(--ss-rem));
		text-align: center;
		font-weight: normal;
		font-style: italic;
	}

	.s,
	.s1,
	.s2,
	.s3,
	.s4 {
		text-align: center;
		font-weight: bold;
		font-style: italic;
		font-size: inherit;
		margin-block-end: calc(0.9 * var(--ss-rem));
		margin-block-start: calc(1.5 * var(--ss-rem));
	}

	.sr {
		font-weight: normal;
		font-style: italic;
		text-align: center;
		font-size: inherit;
		letter-spacing: normal;
	}

	.r {
		font-size: var(--ss-rem);
		font-weight: normal;
		font-style: italic;
		text-align: center;
		letter-spacing: normal;
	}

	.rq {
		font-size: inherit;
		line-height: 1.6;
		font-style: italic;
		text-align: end;
		letter-spacing: normal;
	}

	.d {
		font-style: italic;
		text-align: center;
		font-size: inherit;
		letter-spacing: normal;
	}

	.sp {
		text-align: start;
		font-weight: normal;
		font-style: italic;
		font-size: inherit;
		letter-spacing: normal;
	}
}
